In [2]:
import requests as re
import bs4 as b

In [3]:
con=re.get('https://www.mygov.in/corona-data/covid19-statewise-status/')

In [4]:
data=con.text

In [5]:
soup=b.BeautifulSoup(data)

In [6]:
tag=soup.find('title')
# print(tag)
# print(tag.getText())

In [7]:
tag=soup.find('div')
# print(tag)

In [8]:
tags=soup.findAll('div',{'class':'field-item even'})
# for tag in tags:
#     print(tag)

In [9]:
tag=tags[5]
# print(tag)

In [10]:
print('Total Deaths:',tag.getText)

Total Deaths: <bound method PageElement.get_text of <div class="field-item even">5,33,510</div>>

In [11]:
tag_date=tags[0]
print(tag_date.getText())
tag_deaths=tags[5]
print('Total Deaths:',tag_deaths.getText())

11 Mar 2024, 08:00 IST (GMT+5:30)
Total Deaths: 5,33,510

In [12]:
tag_date=tags[0]
print(tag_date.getText())
tag_active=tags[2]
print("Active Case: ",tag_active.getText())
tag_deaths=tags[5]
print('Total Deaths:',tag_deaths.getText())

11 Mar 2024, 08:00 IST (GMT+5:30)
Active Case:  1,158
Total Deaths: 5,33,510

In [13]:
tags=soup.findAll('div',{'class':'field field-name-field-select-state field-type-list-text field-label-above'})

In [14]:
# print(tags)

In [15]:
for tag in tags:
    print(tag.find('div',{'class':'field-item even'}).getText())

Andaman and Nicobar
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli and Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Lakshadweep
Maharashtra
Manipur
Meghalaya
Mizoram
Madhya Pradesh
Nagaland
Odisha
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Telengana
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [16]:
state_names=[]
for tag in tags:
    state_names.append(tag.find('div',{'class':'field-item even'}).getText())

In [17]:
state_names

['Andaman and Nicobar',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Madhya Pradesh',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [18]:
tags=soup.findAll("div",{'class':'field field-name-field-total-confirmed-indians field-type-number-integer field-label-above'})
for tag in tags:
    print(tag.find('div',{'class':'field-item even'}))

<div class="field-item even">10766</div>
<div class="field-item even">2341088</div>
<div class="field-item even">67049</div>
<div class="field-item even">746230</div>
<div class="field-item even">855547</div>
<div class="field-item even">100728</div>
<div class="field-item even">1188478</div>
<div class="field-item even">11592</div>
<div class="field-item even">2042322</div>
<div class="field-item even">263606</div>
<div class="field-item even">1292203</div>
<div class="field-item even">1079135</div>
<div class="field-item even">323031</div>
<div class="field-item even">482178</div>
<div class="field-item even">443861</div>
<div class="field-item even">4096173</div>
<div class="field-item even">6917592</div>
<div class="field-item even">29630</div>
<div class="field-item even">11415</div>
<div class="field-item even">8176466</div>
<div class="field-item even">140038</div>
<div class="field-item even">96993</div>
<div class="field-item even">239567</div>
<div class="field-item even">1056697</div>
<div class="field-item even">36033</div>
<div class="field-item even">1348650</div>
<div class="field-item even">177702</div>
<div class="field-item even">793793</div>
<div class="field-item even">1327063</div>
<div class="field-item even">44948</div>
<div class="field-item even">3611600</div>
<div class="field-item even">844816</div>
<div class="field-item even">108565</div>
<div class="field-item even">2145862</div>
<div class="field-item even">452652</div>
<div class="field-item even">2127546</div>

In [19]:
tags=soup.findAll("div",{'class':'field field-name-field-total-confirmed-indians field-type-number-integer field-label-above'})
for tag in tags:
    print(tag.find('div',{'class':'field-item even'}).getText())

10766
2341088
67049
746230
855547
100728
1188478
11592
2042322
263606
1292203
1079135
323031
482178
443861
4096173
6917592
29630
11415
8176466
140038
96993
239567
1056697
36033
1348650
177702
793793
1327063
44948
3611600
844816
108565
2145862
452652
2127546

In [20]:
total_case=[]
tags=soup.findAll("div",{'class':'field field-name-field-total-confirmed-indians field-type-number-integer field-label-above'})
for tag in tags:
    total_case.append(tag.find('div',{'class':'field-item even'}).getText())

In [21]:
total_case

['10766',
 '2341088',
 '67049',
 '746230',
 '855547',
 '100728',
 '1188478',
 '11592',
 '2042322',
 '263606',
 '1292203',
 '1079135',
 '323031',
 '482178',
 '443861',
 '4096173',
 '6917592',
 '29630',
 '11415',
 '8176466',
 '140038',
 '96993',
 '239567',
 '1056697',
 '36033',
 '1348650',
 '177702',
 '793793',
 '1327063',
 '44948',
 '3611600',
 '844816',
 '108565',
 '2145862',
 '452652',
 '2127546']

In [22]:
tags=soup.findAll("div",{'class':'field field-name-field-deaths field-type-number-integer field-label-above'})
for tag in tags:
    print(tag.find('div',{'class':'field-item even'}).getText())

129
14733
296
8037
12315
1186
14200
4
26681
4014
11091
10781
4246
4793
5337
40399
72103
231
52
148590
2149
1628
734
10786
782
9215
1982
20579
9746
501
38086
4111
943
23722
7770
21558

In [23]:
total_deaths=[]
tags=soup.findAll("div",{'class':'field field-name-field-deaths field-type-number-integer field-label-above'})
for tag in tags:
    total_deaths.append(tag.find('div',{'class':'field-item even'}).getText())

In [24]:
total_deaths

['129',
 '14733',
 '296',
 '8037',
 '12315',
 '1186',
 '14200',
 '4',
 '26681',
 '4014',
 '11091',
 '10781',
 '4246',
 '4793',
 '5337',
 '40399',
 '72103',
 '231',
 '52',
 '148590',
 '2149',
 '1628',
 '734',
 '10786',
 '782',
 '9215',
 '1982',
 '20579',
 '9746',
 '501',
 '38086',
 '4111',
 '943',
 '23722',
 '7770',
 '21558']

In [25]:
tags=soup.findAll("div",{'class':'field field-name-field-cured field-type-number-integer field-label-above'})
for tag in tags:
    print(tag.find('div',{'class':'field-item even'}).getText())

10637
2326352
66753
738189
843171
99538
1174255
11588
2015346
259585
1281047
1068337
318774
477381
438523
4055703
6845482
29397
11363
8027636
137889
95364
238833
1045900
35251
1339372
175717
773189
1317175
44447
3573505
840694
107619
2122043
444872
2105967

In [26]:
total_discharged=[]
tags=soup.findAll("div",{'class':'field field-name-field-cured field-type-number-integer field-label-above'})
for tag in tags:
    total_discharged.append(tag.find('div',{'class':'field-item even'}).getText())

In [27]:
total_discharged

['10637',
 '2326352',
 '66753',
 '738189',
 '843171',
 '99538',
 '1174255',
 '11588',
 '2015346',
 '259585',
 '1281047',
 '1068337',
 '318774',
 '477381',
 '438523',
 '4055703',
 '6845482',
 '29397',
 '11363',
 '8027636',
 '137889',
 '95364',
 '238833',
 '1045900',
 '35251',
 '1339372',
 '175717',
 '773189',
 '1317175',
 '44447',
 '3573505',
 '840694',
 '107619',
 '2122043',
 '444872',
 '2105967']

In [28]:
import pandas as pd

In [29]:
df=pd.DataFrame()

In [30]:
df

Empty DataFrame
Columns: []
Index: []

In [31]:
df['State']=state_names
df['total_case']=total_case
df['total_discharged']=total_discharged
df['total_deaths']=total_deaths

In [32]:
df

,State,total_case,total_discharged,total_deaths
0,Andaman and Nicobar,10766,10637,129
1,Andhra Pradesh,2341088,2326352,14733
2,Arunachal Pradesh,67049,66753,296
3,Assam,746230,738189,8037
4,Bihar,855547,843171,12315
5,Chandigarh,100728,99538,1186
6,Chhattisgarh,1188478,1174255,14200
7,Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
8,Delhi,2042322,2015346,26681
9,Goa,263606,259585,4014
10,Gujarat,1292203,1281047,11091
11,Haryana,1079135,1068337,10781
12,Himachal Pradesh,323031,318774,4246
13,Jammu and Kashmir,482178,477381,4793
14,Jharkhand,443861,438523,5337
15,Karnataka,4096173,4055703,40399
16,Kerala,6917592,6845482,72103
17,Ladakh,29630,29397,231
18,Lakshadweep,11415,11363,52
19,Maharashtra,8176466,8027636,148590
20,Manipur,140038,137889,2149
21,Meghalaya,96993,95364,1628
22,Mizoram,239567,238833,734
23,Madhya Pradesh,1056697,1045900,10786
24,Nagaland,36033,35251,782
25,Odisha,1348650,1339372,9215
26,Puducherry,177702,175717,1982
27,Punjab,793793,773189,20579
28,Rajasthan,1327063,1317175,9746
29,Sikkim,44948,44447,501
30,Tamil Nadu,3611600,3573505,38086
31,Telengana,844816,840694,4111
32,Tripura,108565,107619,943
33,Uttar Pradesh,2145862,2122043,23722
34,Uttarakhand,452652,444872,7770
35,West Bengal,2127546,2105967,21558

In [33]:
df.index=df.State

In [34]:
df

,State,total_case,total_discharged,total_deaths
State,,,,
Andaman and Nicobar,Andaman and Nicobar,10766,10637,129
Andhra Pradesh,Andhra Pradesh,2341088,2326352,14733
Arunachal Pradesh,Arunachal Pradesh,67049,66753,296
Assam,Assam,746230,738189,8037
Bihar,Bihar,855547,843171,12315
Chandigarh,Chandigarh,100728,99538,1186
Chhattisgarh,Chhattisgarh,1188478,1174255,14200
Dadra and Nagar Haveli and Daman and Diu,Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Delhi,Delhi,2042322,2015346,26681
Goa,Goa,263606,259585,4014
Gujarat,Gujarat,1292203,1281047,11091
Haryana,Haryana,1079135,1068337,10781
Himachal Pradesh,Himachal Pradesh,323031,318774,4246
Jammu and Kashmir,Jammu and Kashmir,482178,477381,4793
Jharkhand,Jharkhand,443861,438523,5337
Karnataka,Karnataka,4096173,4055703,40399
Kerala,Kerala,6917592,6845482,72103
Ladakh,Ladakh,29630,29397,231
Lakshadweep,Lakshadweep,11415,11363,52
Maharashtra,Maharashtra,8176466,8027636,148590
Manipur,Manipur,140038,137889,2149
Meghalaya,Meghalaya,96993,95364,1628
Mizoram,Mizoram,239567,238833,734
Madhya Pradesh,Madhya Pradesh,1056697,1045900,10786
Nagaland,Nagaland,36033,35251,782
Odisha,Odisha,1348650,1339372,9215
Puducherry,Puducherry,177702,175717,1982
Punjab,Punjab,793793,773189,20579
Rajasthan,Rajasthan,1327063,1317175,9746
Sikkim,Sikkim,44948,44447,501
Tamil Nadu,Tamil Nadu,3611600,3573505,38086
Telengana,Telengana,844816,840694,4111
Tripura,Tripura,108565,107619,943
Uttar Pradesh,Uttar Pradesh,2145862,2122043,23722
Uttarakhand,Uttarakhand,452652,444872,7770
West Bengal,West Bengal,2127546,2105967,21558

In [35]:
df.drop('State',axis=1,inplace=True)

In [36]:
df

,total_case,total_discharged,total_deaths
State,,,
Andaman and Nicobar,10766,10637,129
Andhra Pradesh,2341088,2326352,14733
Arunachal Pradesh,67049,66753,296
Assam,746230,738189,8037
Bihar,855547,843171,12315
Chandigarh,100728,99538,1186
Chhattisgarh,1188478,1174255,14200
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Delhi,2042322,2015346,26681
Goa,263606,259585,4014
Gujarat,1292203,1281047,11091
Haryana,1079135,1068337,10781
Himachal Pradesh,323031,318774,4246
Jammu and Kashmir,482178,477381,4793
Jharkhand,443861,438523,5337
Karnataka,4096173,4055703,40399
Kerala,6917592,6845482,72103
Ladakh,29630,29397,231
Lakshadweep,11415,11363,52
Maharashtra,8176466,8027636,148590
Manipur,140038,137889,2149
Meghalaya,96993,95364,1628
Mizoram,239567,238833,734
Madhya Pradesh,1056697,1045900,10786
Nagaland,36033,35251,782
Odisha,1348650,1339372,9215
Puducherry,177702,175717,1982
Punjab,793793,773189,20579
Rajasthan,1327063,1317175,9746
Sikkim,44948,44447,501
Tamil Nadu,3611600,3573505,38086
Telengana,844816,840694,4111
Tripura,108565,107619,943
Uttar Pradesh,2145862,2122043,23722
Uttarakhand,452652,444872,7770
West Bengal,2127546,2105967,21558

In [37]:
df.loc[['Bihar']]

      total_case total_discharged total_deaths
State
Bihar     855547           843171        12315

In [38]:
df.loc[['Uttar Pradesh']]

              total_case total_discharged total_deaths
State
Uttar Pradesh    2145862          2122043        23722

In [39]:
df.sort_values(by='total_case',ascending=False)

,total_case,total_discharged,total_deaths
State,,,
Meghalaya,96993,95364,1628
Bihar,855547,843171,12315
Telengana,844816,840694,4111
Maharashtra,8176466,8027636,148590
Punjab,793793,773189,20579
Assam,746230,738189,8037
Kerala,6917592,6845482,72103
Arunachal Pradesh,67049,66753,296
Jammu and Kashmir,482178,477381,4793
Uttarakhand,452652,444872,7770
Sikkim,44948,44447,501
Jharkhand,443861,438523,5337
Karnataka,4096173,4055703,40399
Tamil Nadu,3611600,3573505,38086
Nagaland,36033,35251,782
Himachal Pradesh,323031,318774,4246
Ladakh,29630,29397,231
Goa,263606,259585,4014
Mizoram,239567,238833,734
Andhra Pradesh,2341088,2326352,14733
Uttar Pradesh,2145862,2122043,23722
West Bengal,2127546,2105967,21558
Delhi,2042322,2015346,26681
Puducherry,177702,175717,1982
Manipur,140038,137889,2149
Odisha,1348650,1339372,9215
Rajasthan,1327063,1317175,9746
Gujarat,1292203,1281047,11091
Chhattisgarh,1188478,1174255,14200
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Lakshadweep,11415,11363,52
Tripura,108565,107619,943
Haryana,1079135,1068337,10781
Andaman and Nicobar,10766,10637,129
Madhya Pradesh,1056697,1045900,10786
Chandigarh,100728,99538,1186

In [40]:
df.dtypes

total_case          object
total_discharged    object
total_deaths        object
dtype: object

In [41]:
df['total_case']=pd.to_numeric(df.total_case)
df['total_discharged']=pd.to_numeric(df.total_discharged)
df['total_deaths']=pd.to_numeric(df.total_deaths)

In [42]:
df

,total_case,total_discharged,total_deaths
State,,,
Andaman and Nicobar,10766,10637,129
Andhra Pradesh,2341088,2326352,14733
Arunachal Pradesh,67049,66753,296
Assam,746230,738189,8037
Bihar,855547,843171,12315
Chandigarh,100728,99538,1186
Chhattisgarh,1188478,1174255,14200
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Delhi,2042322,2015346,26681
Goa,263606,259585,4014
Gujarat,1292203,1281047,11091
Haryana,1079135,1068337,10781
Himachal Pradesh,323031,318774,4246
Jammu and Kashmir,482178,477381,4793
Jharkhand,443861,438523,5337
Karnataka,4096173,4055703,40399
Kerala,6917592,6845482,72103
Ladakh,29630,29397,231
Lakshadweep,11415,11363,52
Maharashtra,8176466,8027636,148590
Manipur,140038,137889,2149
Meghalaya,96993,95364,1628
Mizoram,239567,238833,734
Madhya Pradesh,1056697,1045900,10786
Nagaland,36033,35251,782
Odisha,1348650,1339372,9215
Puducherry,177702,175717,1982
Punjab,793793,773189,20579
Rajasthan,1327063,1317175,9746
Sikkim,44948,44447,501
Tamil Nadu,3611600,3573505,38086
Telengana,844816,840694,4111
Tripura,108565,107619,943
Uttar Pradesh,2145862,2122043,23722
Uttarakhand,452652,444872,7770
West Bengal,2127546,2105967,21558

In [43]:
df.sort_values(by='total_case',ascending=False)

,total_case,total_discharged,total_deaths
State,,,
Maharashtra,8176466,8027636,148590
Kerala,6917592,6845482,72103
Karnataka,4096173,4055703,40399
Tamil Nadu,3611600,3573505,38086
Andhra Pradesh,2341088,2326352,14733
Uttar Pradesh,2145862,2122043,23722
West Bengal,2127546,2105967,21558
Delhi,2042322,2015346,26681
Odisha,1348650,1339372,9215
Rajasthan,1327063,1317175,9746
Gujarat,1292203,1281047,11091
Chhattisgarh,1188478,1174255,14200
Haryana,1079135,1068337,10781
Madhya Pradesh,1056697,1045900,10786
Bihar,855547,843171,12315
Telengana,844816,840694,4111
Punjab,793793,773189,20579
Assam,746230,738189,8037
Jammu and Kashmir,482178,477381,4793
Uttarakhand,452652,444872,7770
Jharkhand,443861,438523,5337
Himachal Pradesh,323031,318774,4246
Goa,263606,259585,4014
Mizoram,239567,238833,734
Puducherry,177702,175717,1982
Manipur,140038,137889,2149
Tripura,108565,107619,943
Chandigarh,100728,99538,1186
Meghalaya,96993,95364,1628
Arunachal Pradesh,67049,66753,296
Sikkim,44948,44447,501
Nagaland,36033,35251,782
Ladakh,29630,29397,231
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Lakshadweep,11415,11363,52
Andaman and Nicobar,10766,10637,129

In [44]:
df.describe()

         total_case  total_discharged   total_deaths
count  3.600000e+01      3.600000e+01      36.000000
mean   1.250878e+06      1.236025e+06   14819.722222
std    1.847911e+06      1.822186e+06   27237.155473
min    1.076600e+04      1.063700e+04       4.000000
25%    1.066058e+05      1.055988e+05    1125.250000
50%    6.142040e+05      6.077850e+05    6553.500000
75%    1.332460e+06      1.322724e+06   14333.250000
max    8.176466e+06      8.027636e+06  148590.000000

In [45]:
df.sort_values(by='total_case',ascending=False).head(10)

                total_case  total_discharged  total_deaths
State
Maharashtra        8176466           8027636        148590
Kerala             6917592           6845482         72103
Karnataka          4096173           4055703         40399
Tamil Nadu         3611600           3573505         38086
Andhra Pradesh     2341088           2326352         14733
Uttar Pradesh      2145862           2122043         23722
West Bengal        2127546           2105967         21558
Delhi              2042322           2015346         26681
Odisha             1348650           1339372          9215
Rajasthan          1327063           1317175          9746

In [46]:
df.sort_values(by='total_deaths',ascending=False).head(10)

                total_case  total_discharged  total_deaths
State
Maharashtra        8176466           8027636        148590
Kerala             6917592           6845482         72103
Karnataka          4096173           4055703         40399
Tamil Nadu         3611600           3573505         38086
Delhi              2042322           2015346         26681
Uttar Pradesh      2145862           2122043         23722
West Bengal        2127546           2105967         21558
Punjab              793793            773189         20579
Andhra Pradesh     2341088           2326352         14733
Chhattisgarh       1188478           1174255         14200

In [47]:
df.sort_values(by='total_discharged',ascending=False).head(10)

                total_case  total_discharged  total_deaths
State
Maharashtra        8176466           8027636        148590
Kerala             6917592           6845482         72103
Karnataka          4096173           4055703         40399
Tamil Nadu         3611600           3573505         38086
Andhra Pradesh     2341088           2326352         14733
Uttar Pradesh      2145862           2122043         23722
West Bengal        2127546           2105967         21558
Delhi              2042322           2015346         26681
Odisha             1348650           1339372          9215
Rajasthan          1327063           1317175          9746

In [48]:
df.sort_values(by='total_case',ascending=False).tail(10)

,total_case,total_discharged,total_deaths
State,,,
Tripura,108565,107619,943
Chandigarh,100728,99538,1186
Meghalaya,96993,95364,1628
Arunachal Pradesh,67049,66753,296
Sikkim,44948,44447,501
Nagaland,36033,35251,782
Ladakh,29630,29397,231
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Lakshadweep,11415,11363,52
Andaman and Nicobar,10766,10637,129

In [49]:
df.sort_values(by='total_deaths').head(10)

,total_case,total_discharged,total_deaths
State,,,
Dadra and Nagar Haveli and Daman and Diu,11592,11588,4
Lakshadweep,11415,11363,52
Andaman and Nicobar,10766,10637,129
Ladakh,29630,29397,231
Arunachal Pradesh,67049,66753,296
Sikkim,44948,44447,501
Mizoram,239567,238833,734
Nagaland,36033,35251,782
Tripura,108565,107619,943
Chandigarh,100728,99538,1186

In [61]:
tags=soup.findAll('img')
# for tag in tags:
#     # print(tag)

In [59]:
tags=soup.findAll('img')
# for tag in tags:
#     print(tag.get('src'))

In [52]:
con=re.get('https://www.mygov.in/sites/all/themes/mygov/front_assets/images/g20-logo.png')

In [53]:
data=con.content

In [58]:
# print(data)

In [55]:
file=open('g:/a.png','wb')
file.write(data)
file.close()

In [56]:
con=re.get('https://www.mygov.in/sites/all/themes/mygov/front_assets/images/logo.svg')
data=con.content
file=open('g:/b.svg','wb')
file.write(data)
file.close()

In [57]:
tags=soup.findAll('img')
for tag in tags:
    src=tag.get('src')
    url='https://www.mygov.in'+src
    con=re.get(url)
    data=con.content
    index=url.rindex('/')
    img_name=url[index+1:]
    print(img_name)
    file=open(f'g:/DS & ML/Data Analysis/Web Scrapping/myimgs/{img_name}','wb')
    file.write(data)
    file.close()
print('img downladed')

logo.svg
header-icon.svg#src-12
profile-default.svg
app_store.svg
play_store.svg
quiz-mygov.png
transforming-india.png
mygov-innovation.png
pledge.png
mygov-blog.png
swachh-bharat.png
self4society.png
ca.png
nic_logo.png
cqw_icon.png
Meity_logo.png
digital-india-logo.png
india-gov-logo.png
datagov-logo.jpg
img downladed